/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading {
  font-size: 3.5em;
  font-weight: 700;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 40px;
}

.title {
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 40px;
}

.main {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 0rem 2rem;
  background-repeat: no-repeat;
  background-image: var(--bg-image);
}
