.grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 25px;
}

@media (min-width: 640px) {
  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media (min-width: 1280px) {
  .grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media (min-width: 1536px) {
  .grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.card {
  background-color: rgb(0, 0, 0, 0.7);
  color: #fff;
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  border: 1px solid #545559;
  display: flex;
  gap: 7px;
  flex-direction: column;
}

a.card:hover {
  color: #fff;
  text-decoration: none;
}

.title {
  font-weight: 700;
  font-size: 1.3rem;
}

.description {
  color: var(--card-body-text-color);
  flex-grow: 1;
}

.anchor {
  color: var(--card-anchor-color);
}

.icon {
  width: 35px;
  filter: var(--icon-fill-color);
}
