.grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 25px;
  margin-bottom: 80px;
}

@media (min-width: 640px) {
  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
@media (min-width: 1280px) {
  .grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
@media (min-width: 1536px) {
  .grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.card {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  border: 1px solid #545559;
  display: flex;
  align-items: center;
  gap: 7px;
  flex-direction: column;
}

.title {
  font-weight: 700;
  font-size: 1.3rem;
}

.description {
  color: #ededed;
  text-align: center;
  flex-grow: 1;
}

.anchor {
  font-family: 'Montserrat', sans-serif;
  color: #a45bdc;
}

a.anchor:hover {
  color: #fff;
  text-decoration: none;
}

.icon {
  width: 35px;
  filter: invert(100%);
}
